<div class="banner-informativos h-[35rem] pt-4 bg-blue-900 center text-center text-white justify-content-center align-content-center">
    <div class="h-full w-full flex items-center justify-center">
        <img src="https://http2.mlstatic.com/D_NQ_699230-MLA83299690486_042025-OO.webp" alt="" class="h-full w-full">
       <!-- <h1 class="text-3xl font-bold underline">
            <p>banner-informativo works!</p>
        </h1> -->
    </div>
</div>

<div>

  </div> 
<!--     <div class="bg-gradient-to-r from-red-500 to-pink-500 via-purple-500 h-96"></div>
 -->

