/* You can add global styles to this file, and also import other style files */
 @import "primeicons/primeicons.css";
@import "tailwindcss";
@import "tailwindcss-primeui"; 
/* core css */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
 /*  background: #edf1f5; */
}

